table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

body, html {
    height: 100%;
    background: #24221f;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li.teste a.active{
    background-color: black;
}

ul{
    list-style: none;
}