<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Star Wars - API</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/mdb.min.css')}}">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark black">
    <a class="navbar-brand" href="{{url_for('home')}}"><img src="{{url_for('static', filename='img/logo.png')}}"
        width="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link yellow-text" href="{{url_for('personagens')}}">Personagens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link yellow-text" href="{{url_for('naves')}}">Naves</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container mt-5 md-3 mx-auto">
    <table class="table">
      <thead class="black yellow-text">
        <tr>
          <th scope="col"><a class="yellow-text font-weight-bolder"
              href="{{url_for('personagens', pagina=pagina_atual, atributo='name')}}">Nome  <img src="{{url_for('static', filename='img/sort.png')}}" width="20x"></a></th>
          <th scope="col"><a class="yellow-text font-weight-bolder"
              href="{{url_for('personagens', pagina=pagina_atual, atributo='gender')}}">Gênero  <img src="{{url_for('static', filename='img/sort.png')}}" width="20x"></a></th>
          <th scope="col"><a class="yellow-text font-weight-bolder"
              href="{{url_for('personagens', pagina=pagina_atual, atributo='mass')}}">Peso  <img src="{{url_for('static', filename='img/sort.png')}}" width="20x"></a></th>
          <th scope="col"><a class="yellow-text font-weight-bolder"
              href="{{url_for('personagens', pagina=pagina_atual, atributo='height')}}">Altura  <img src="{{url_for('static', filename='img/sort.png')}}" width="20x"></a></th>
          <th scope="col">Detalhar</th>   
        </tr>
      </thead>
      <tbody class="blue-grey lighten-4">
        {% for item in conteudo['results'] %}
        <tr>
          <td>{{item['name']}}</td>
          <td>{{item['gender']}}</td>
          <td>{{item['mass']}}</td>
          <td>{{item['height']}}</td>
          <td><a href="{{url_for('detalhar', nome=item['name'] )}}"><img src="{{url_for('static', filename='img/lupa.png')}}" width="25px"></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination pg-blue">
        <li class="page-item"><a class="page-link yellow-text">Previous</a></li>
        {% for item in range((conteudo['count']/10)|int + 1) %}
        <li class="page-item"><a class="page-link yellow-text"
            href={{url_for('personagens', pagina=item+1)}}>{{item + 1}}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link yellow-text">Next</a></li>
      </ul>
    </nav>

  </div>


  <!-- jQuery -->
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{url_for('static', filename='js/mdb.min.js')}}"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>

</body>

</html>